<div class="pusher flex" style="flex-direction: row; width: 75%; justify-content: space-between;">
    <div class="flex info" style="justify-content: flex-start; flex-direction: row;">
        <div class="profImg">
            <img routerLink="/settings" src="{{userImage}}" alt="">
        </div>
    </div>
    <div class="flex info" style="align-items: flex-start;">
        <small><strong>Age:</strong> {{userInfo?.age}}</small>
        <small><strong>Current Weight:</strong> {{userInfo?.weight}} kg</small>
        <small><strong>Goal Weight:</strong> {{userInfo?.goalweight}} kg</small>
    </div>
</div>