<div class="pusher flex" style="flex-direction: row; width: 75%; justify-content: space-between;">
    <div class="flex info" style="justify-content: flex-start; flex-direction: row;">
        <div class="profImg">
            <img src="https://secure.i.telegraph.co.uk/multimedia/archive/03249/archetypal-female-_3249633c.jpg" alt="">
        </div>
    </div>
    <div class="flex info">
        <small>Age: 23</small>
        <small>Current Weight: 100kg</small>
        <small>Goal Weight: 90kg</small>
    </div>
</div>