<div class="pusher">
    <div class="flex">
        <mat-card routerLink="/bmr">
            <div class="title-overlay">
                <div class="inner-title-overlay">
                    <mat-card-title >WHAT IS MY BASAL METABOLIC RATE?</mat-card-title>
                </div>
            </div>
        </mat-card>
        <mat-card routerLink="/tdee">
            <div class="title-overlay">
                <div class="inner-title-overlay">
                    <mat-card-title >HOW MANY CALORIES DO I BURN EACH DAY?</mat-card-title> 
                </div>
            </div>
        </mat-card>
        <mat-card routerLink="/caloric-needs">
            <div class="title-overlay">
                <div class="inner-title-overlay">
                    <mat-card-title >HOW MUCH SHOULD I EAT?</mat-card-title>
                </div>
            </div>
        </mat-card>
        <mat-card routerLink="/ideal-weight">
            <div class="title-overlay">
                <div class="inner-title-overlay">
                    <mat-card-title>WHAT IS MY IDEAL WEIGHT?</mat-card-title>
                </div>    
            </div>
        </mat-card>
        <mat-card routerLink="/body-type">
            <div class="title-overlay">
                <div class="inner-title-overlay">
                    <mat-card-title>WHAT IS MY BODY TYPE?</mat-card-title>
                </div>   
            </div>
        </mat-card>
        <mat-card routerLink="/supplement-stack">
            <div class="title-overlay">
                <div class="inner-title-overlay">
                    <mat-card-title>WHAT’S MY IDEAL SUPPLEMENT STACK?</mat-card-title>
                </div>   
            </div>
        </mat-card>
    </div>
</div>
