<div class="pusher">
    <div class="flex">
        <mat-card routerLink="/bmr">
            <div class="title-overlay">
                <div class="inner-title-overlay">
                    <mat-card-title >What is my BMR?</mat-card-title>
                </div>
            </div>
        </mat-card>
        <mat-card routerLink="/tdee">
            <div class="title-overlay">
                <div class="inner-title-overlay">
                    <mat-card-title >What is my TDEE?</mat-card-title> 
                </div>
            </div>
        </mat-card>
        <mat-card routerLink="/caloricNeeds">
            <div class="title-overlay">
                <div class="inner-title-overlay">
                    <mat-card-title >How much should I eat?</mat-card-title>
                </div>
            </div>
        </mat-card>
        <mat-card routerLink="/idealWeight">
            <div class="title-overlay">
                <div class="inner-title-overlay">
                    <mat-card-title>What is my ideal weight?</mat-card-title>
                </div>    
            </div>
        </mat-card>
        <mat-card routerLink="/bodyType">
            <div class="title-overlay">
                <div class="inner-title-overlay">
                    <mat-card-title>What is my body type?</mat-card-title>
                </div>   
            </div>
        </mat-card>
    </div>
</div>
