<app-user-info *ngIf="isAuthenticated"></app-user-info>
<div class="pusher">
    <div class="flex">
        <mat-card routerLink="/bmr">
            <mat-card-title >What is my BMR?</mat-card-title>
        </mat-card>
        <mat-card routerLink="/tdee">
            <mat-card-title >What is my TDEE?</mat-card-title>
        </mat-card>
        <mat-card routerLink="/caloricNeeds">
            <mat-card-title >How much should I eat?</mat-card-title>
        </mat-card>
        <mat-card class="flex">
            <mat-card-title>What is my ideal weight?</mat-card-title>
            <div class="ribon">Comming Soon.</div>
        </mat-card>
    </div>
</div>
