<div class="flex" style="flex-direction: column;">
    <div class="social flex" style="border-bottom: 1px solid gray;">
        <a target="_blank" href="https://github.com/SelimMeske"><img src="assets/github.png" alt=""></a>
        <a target="_blank" href="https://twitter.com/mesic_selim"><img src="assets/twitter.png" alt=""></a>
        <a target="_blank" href="https://dev.to/selimmeske"><img src="assets/devto.svg" alt=""></a>
    </div>
    <div class="flex" style="padding: 2rem 2rem; ">
        <p>Created by <b style="color:#f44336">Selim Mesic</b></p>
    </div>
</div>