<div class="flex" style="flex-direction: column; background: #446aac; padding: 40px 0px;">
    <div class="pusher">
        <div class="flex main-holder">
            <div class="section">
                <p style="margin-bottom: 35px;">KEEP IN TOUCH</p>
                <div class="social flex" style="margin-bottom: 35px;">
                    <a href=""><img src="assets/instagram.png" alt=""></a>
                    <a href=""><img src="assets/site.png" alt=""></a>
                </div>
                <p>CONTACT US </p>
                <a href="mailto:ed@goinstafit.com"><i style="color: rgb(199, 199, 199);">ed@goinstafit.com</i></a>
            </div>
            <div class="section">
                <p style="margin-bottom: 35px;">WHO ARE WE:</p>
                <div class="flex who-are-we" style="font-style: italic; color: rgb(199, 199, 199);">
                   <p>Your body transformation starts here. Access Workouts, Exercises, Diets, Blog, Motivation, and BMI Calculators all in one place.<br><br> Whether your goal is to lose weight, get fit or gain muscle, start exercising with <b>GoInstafit</b>, and start living a sustainable, happy, healthy lifestyle.</p> 
                </div>
            </div>
        </div>
        
    </div>

    <p style="font-size: 13px; margin-top: 50px;">&copy;Copyright. All rights reserved.<p></p>
    
    
</div>