<div class="flex" style="flex-direction: column; background: #446aac; padding: 40px 0px;">
    <p style="margin-bottom: 35px;">KEEP IN TOUCH</p>
    <div class="social flex" style="justify-content: space-evenly; margin-bottom: 35px;">
        <a href=""><img src="assets/instagram.png" alt=""></a>
        <a href=""><img src="assets/google-play.png" alt=""></a>
    </div>
    <p style="margin-bottom: 35px;">WHO ARE WE:</p>
    <div class="flex who-are-we" style="font-style: italic; color: rgb(199, 199, 199);">
        GoInstafit is Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Convallis tellus id interdum velit. Nec ullamcorper sit amet risus nullam eget. Arcu ac tortor dignissim convallis aenean et tortor. 
    </div>
    <a href="mailto:ed@goinstafit.com"><p>CONTACT US: <i style="color: rgb(199, 199, 199);">ed@goinstafit.com</i></p></a>
    <p style="font-size: 13px;">&copy;Copyright. All rights reserved.<p></p>
</div>