<div class="pageBanner">
    <div class="flex">
        <h2>Settings</h2>
    </div>
</div>
<form [formGroup]="formGroup" class="flex" style="margin-top: 1rem;">

    <div class="profImg">
        <img routerLink="/settings" src="{{imgUrl}}" alt="">
    </div>
    <button (click)="imageInput.click()" type="button" mat-flat-button color="warn">Change Profile Picture</button>
    <mat-form-field>
        <mat-label>Username</mat-label>
        <input required formControlName="username" autocomplete="off" matInput placeholder="username">
    </mat-form-field>
    <div class="flex gender">
        <mat-radio-group color="warn" required formControlName="gender" aria-label="Select an option">
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
        </mat-radio-group>
    </div>

    <mat-form-field>
        <mat-label>Age</mat-label>
        <input required formControlName="age" autocomplete="off" matInput placeholder="Height">
    </mat-form-field>

    <div class="flex" style="flex-direction: row; justify-content: space-evenly;">

        <mat-form-field style="width: 90px;">
            <mat-label>Height</mat-label>
            <input required formControlName="height" autocomplete="off" matInput placeholder="Height">
        </mat-form-field>

        <mat-form-field style="width: 90px;">
            <mat-label>Weight</mat-label>
            <input required formControlName="weight" autocomplete="off" matInput placeholder="Weight">
        </mat-form-field>
    </div>
    <mat-form-field style="width: 180px;">
        <mat-label>Goal Weight</mat-label>
        <input required formControlName="goalWeight" autocomplete="off" matInput placeholder="Goal Weight">
    </mat-form-field>
    <small style="width: 180px; background: rgb(240, 240, 240); border-radius: 2px; margin-bottom: 1rem;">Weight and
        height should be either in <strong>KG</strong> and <strong>CM</strong>, or <strong>POUNDS</strong> and
        <strong>FEETS</strong></small>

   
    <p style="margin: 0;">Activity level</p>
    <p style="margin: 0;"><strong style="color: #f44336;">{{activityMap[activity]}}</strong></p>
    <small>Slide to change activity level</small>
    <mat-slider (input)="slideEvent($event)" [max]="80" [min]="0" [step]="20" color="warn" formControlName="activityLevel">
    </mat-slider>
   
    <!-- Hidden input field -->

    <input (change)="imageChanged($event)" style="display: none;" type="file" #imageInput>

    <!-- Main submit button -->
    <button (click)="submitSettings()"  type="submit" mat-flat-button color="warn">Save Settings</button>

</form>

