<form (submit)="onSubmit(loginForm)" #loginForm="ngForm" class="flex">
    <div class="wrapper">
    <h1 style="font-size: 25px;">Welcome to pocket<span style="color: #f44336;">Health</span></h1>
    <mat-form-field color="warn" appearance="legacy">
        <mat-label>Username</mat-label>
        <input name="username" #username="ngModel" matInput ngModel placeholder="Enter your username" required>
        <mat-error *ngIf="username.errors?.required">
            Username is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field color="warn">
        <mat-label>Password</mat-label>
        <input name="password" type="password" #password="ngModel" matInput ngModel placeholder="Enter your password" required>
        <mat-error *ngIf="password.errors?.required">
            Password is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    Not registered yet? <p routerLink="/register" style="color: #f44336;">Register NOW!</p>
    <button mat-raised-button color="warn">Login</button>
    <button (click)="guestLogin()" type="button" mat-raised-button color="acent">Login as guest</button>
    </div>
</form>
