<div *ngIf="!finalAnswer" class="pusher">
    <h2>
        {{questions[currentQuestion]}}
    </h2>
</div>
<form *ngIf="!finalAnswer" #myform="ngForm">
    <div class="pusher pusher-a">

        <mat-radio-group class="questions" *ngIf="currentQuestion === 0" color="primary" ngModel required #gender="ngModel" name="answer" aria-label="Select an option">
            <span class="rado-custom"><mat-radio-button value="male"></mat-radio-button>Male</span>
            <span class="rado-custom"><mat-radio-button value="female"></mat-radio-button>Female</span>
        </mat-radio-group>

        <mat-radio-group class="questions" *ngIf="currentQuestion > 0" color="primary" ngModel required #question="ngModel" name="answer" aria-label="Select an option">
            <span class="rado-custom"><mat-radio-button value={{answers[currentQuestion][0]}}></mat-radio-button>{{answers[currentQuestion][0]}}</span>
            <span class="rado-custom"><mat-radio-button value={{answers[currentQuestion][1]}}></mat-radio-button>{{answers[currentQuestion][1]}}</span>
            <span *ngIf="answers[currentQuestion][2]" class="rado-custom"><mat-radio-button value={{answers[currentQuestion][2]}}></mat-radio-button>{{answers[currentQuestion][2]}}</span>
            <span *ngIf="answers[currentQuestion][3]" class="rado-custom"><mat-radio-button value={{answers[currentQuestion][3]}}></mat-radio-button>{{answers[currentQuestion][3]}}</span>
        </mat-radio-group>
        <b><p *ngIf="noOptionChoosed" style="color: #446aac;">Please choose one option.</p></b>
        <div class="pusher-a-underline" [ngStyle]="{'width': progress}"></div>
    </div>
    
    <div class="pusher">
        <button type="button" (click)="nextQuestion(myform)" mat-flat-button color="primary" style="background: #446aac !important;">Next Question</button>
    </div>
</form>
<div *ngIf="finalAnswer" class="f-answer-container">
    <div class="pusher">
        <h1>This is your ideal <span style="color: #446aac;"><strong>supplement stack</strong></span>!</h1>
        <div *ngFor="let supp of supplementStack" class="supplement-container flex">
            <img src="{{ supp[3] }}" alt="">
            <h2>{{ supp[0] }}</h2>
            <p>{{ supp[1] }}</p>
            <a target="_blank" href="{{ supp[2] }}"><button type="button" mat-flat-button style="background: #446aac !important;" color="primary" >Buy now</button></a>
        </div>
    </div>  
    
</div>