mat-radio-button
    margin: 0 1rem 0 1rem
label, .gender, p
    margin: 2rem 0rem
strong
    color:#446aac
a
    text-decoration: none
.click-text
    background: #446aac
    border-radius: 2px
    cursor: pointer
    color: white
    display: inline-block
    padding: 0px 4px
h2
    margin: 0   
.pageBanner
    height: 150px
    width: 1430px
    background-size: cover
    background-position: center
    .flex
        height: 100%
.result
    justify-content: center !important
    align-items: center !important       
.circle
    border: 3px solid #446aac
    border-radius: 100%
    width: 9rem
    height: 9rem
    padding: 1rem
    position: relative
    margin: 1rem 1rem
.pageBannerWrapper
    width: 100%

.mat-card
    margin-top: 40px
    position: relative
    background-image: url("../../../../assets/pc-images/calc-pic-pc-6.jpg")
    cursor: pointer
.title-overlay
    position: absolute
    content: ''
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: #07070785
    z-index: 1
.mat-card-title
    z-index: 100 !important
    color: white
    font-size: 19px 
    
@media only screen and (max-width: 768px)   
    .mat-card-title
        font-size: 14px     
    .mat-card
        background-image: url("../../../../assets/calc_pic_6.jpg") 

@media only screen and (max-width: 1430px)   
    .pageBanner
        width: 100%     

@media only screen and (max-width: 420px)
    .result-text
        font-size: 18px        