<div class="pageBanner" style="background-image: url({{pageBannerBackgroundImage[currentMode]}});">
    <div class="flex">
        <h2>{{pageBannerTitleMap[currentMode]}}</h2>
    </div>
</div>
<form *ngIf="!result" (submit)="calculate(calcForm)" #calcForm="ngForm" class="flex">

    <div class="flex gender">
        
            <mat-radio-group color="primary" ngModel required #gender="ngModel" name="gender"
                aria-label="Select an option">
                <mat-radio-button value="male">Male</mat-radio-button>
                <mat-radio-button value="female">Female</mat-radio-button>
            </mat-radio-group>
            <mat-error *ngIf="gender.errors?.required && calcPressed"> 
                What is your gender?
            </mat-error>
       
    </div>

    <mat-form-field style="width: 240px;" color="primary" *ngIf="currentMode !== 'idealWeight'">
        <mat-label>Age</mat-label>
        <input required ngModel name="age" #age="ngModel" autocomplete="off" color="primary" matInput placeholder="Age">
        <mat-error *ngIf="age.errors?.required">
            What is your <strong>age?</strong>
        </mat-error>
    </mat-form-field>

    <div class="flex" style="flex-direction: row; justify-content: space-evenly;">

        <mat-form-field color="primary" style="width: 120px;">
            <mat-label>Height</mat-label>
            <input required ngModel name="height" #height="ngModel" autocomplete="off" matInput placeholder="Height">
            <mat-error *ngIf="height.errors?.required">
                What is your <strong>height?</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="currentMode !== 'idealWeight'" color="primary" style="width: 120px; ">
            <mat-label>Weight</mat-label>
            <input required ngModel name="weight" #weight="ngModel" autocomplete="off" matInput placeholder="Weight">
            <mat-error *ngIf="height.errors?.required">
                What is your <strong>weight?</strong>
            </mat-error>
        </mat-form-field>
    </div>

    <!-- Show measuring units if in idealWeight mode -->
    <mat-form-field *ngIf="currentMode === 'idealWeight'" style="margin-top: 10px; width: 240px;">
        <mat-label>Measuring units?</mat-label>
        <mat-select color="primary" required ngModel name="units">
            <mat-option selected value="metric">Metric (cm)</mat-option>
            <mat-option value="imperial">Imperial (feet)</mat-option>
        </mat-select>
    </mat-form-field>

    <small style="width: 240px; background: rgb(240, 240, 240); border-radius: 2px; margin: 1rem 1rem;">Weight and
        height should be either in <strong>KG</strong> and <strong>CM</strong>, or <strong>POUNDS</strong> and
        <strong>FEETS</strong></small>

    <!-- Show activity level if in TDEE or caloricNeeds mode -->
    <div *ngIf="currentMode === 'tdee' || currentMode === 'caloricNeeds'" class="flex" style="margin: 20px 0px">
        <p style="margin: 0;">Activity level</p>
        <p style="margin: 0;"><strong style="color: #446aac;">{{activityMap[activity]}}</strong></p>
        <i><small style="width: 240px; background: rgb(240, 240, 240); border-radius: 2px; margin: 0.5rem 0.5rem;" class="flex">{{activityMapExtended[activity]}}</small></i>
        <small>Slide to change activity level</small>
        <mat-slider style="width: 240px;" (input)="slideEvent($event)" [max]="80" [min]="0" [step]="20" color="primary" name="activity">
        </mat-slider>
    </div>
    <!-- Show weight goal if in caloricNeeds mode -->
    <mat-form-field style="width: 240px;" *ngIf="currentMode === 'caloricNeeds'">
        <mat-label>Your weight goal?</mat-label>
        <mat-select color="primary" required ngModel name="goal">
            <mat-option selected value="reduction">Weightloss</mat-option>
            <mat-option value="maintain">Maintain</mat-option>
            <mat-option value="gain">Gain</mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Show Approach to goal if in caloricNeeds mode -->
    <div *ngIf="currentMode === 'caloricNeeds'" class="flex">
        <mat-form-field style="width: 240px">
            <mat-label>Approach to goal?</mat-label>
            <mat-select color="primary" ngModel name="approach">
                <mat-option value="slow">Slow</mat-option>
                <mat-option value="normal">Normal</mat-option>
                <mat-option value="agressive">Agressive</mat-option>
                <mat-option value="very agressive">Very agressive</mat-option>
            </mat-select>
        </mat-form-field>
        <small style="width: 240px; margin-bottom: 1rem;">This field is optional, the default value is <strong
                style="color: #446aac;">normal</strong></small>
    </div>

    <!-- Main submit button -->
    <button type="submit" mat-flat-button color="primary" style="background:#446aac;">Calculate</button>

</form>

<div *ngIf="result" class="pusher">
    <div class="result">
        <h1>Based on your stats this is your result</h1>
        Your {{pageBannerTitleMap[currentMode].toLowerCase()}}:
        <div class="circle flex"><h2 style="color:#446aac;">{{result}}</h2></div>
        <h1>Well done is better than well said.</h1>
        <p>You must expect great things of yourself before you can do them.</p>
        <h1>Start <span style="color: #446aac;">exercising</span> NOW!</h1>
    </div>
</div>
